.App {
	text-align: center;
	font-family: Sans-serif;
}

.title {
	font-family: Sans-serif;
}

.pasteInput {
	height: 200px;
	width: 80%;
	font-size: 14pt;
	box-sizing: border-box;
	background-color: var(--superlight);
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

/* .pokemonList {
	text-align: left;
} */

.submitButton {
	font: 20px 'Hurme Geometric Sans No.3';
	border-radius: 15px;
	border: none;
	margin-top: 10px;
	height: 75px;
	width: fit-content;
	padding-left: 5%;
	padding-right: 5%;
}

.submitButton:hover {
	background-color: lightblue;
	cursor: pointer;
	text-decoration: underline;
	color: green;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

.gridContainer {
	background: #eee;
	max-width: 900px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 300px 300px 300px;
}

.gridContainer > div {
	background: #ccc;
	text-align: center;
	padding: 20px;
	border: 1px solid #777;
}
