.App {
	text-align: center;
	font-family: Sans-serif;
}

.title {
	font-family: Sans-serif;
}

.pasteInput {
	height: 200px;
	width: 80%;
	font-size: 14pt;
	padding: 5px;
	overflow: hidden;
}

.pokemonList {
	text-align: left;
}
